/* OFFSET
    position: absolute;
    top: Y px;
    left: X px;
 */

* {
    margin: 0;
}
html {
    overflow: hidden;
}
header {
    background-color: #24791c;
    width: 100vw;
    height: 5vh;
}
#logo {
    width: 5.5ex;
    height: 5.5ex;
}
#scanphoto {
    display: block;
    visibility: initial;
    width: 100vw;
    height: 85vh;
    background-color: #eee;
}
#scan {
    display: flex;
    align-content: center;
    width: 100vw;
    height: 83vh;
    position: fixed;
    border-radius: 10vw;
}
#scope {
    margin: 32vh 30vw;

    display: flex;

    position: fixed;
    align-content: center;
    text-align: center;

    width: 25vw;
}
#scope1 {
    width: 40vw;
    margin: 0 30px 0 0;
    align-content: center;
    display: block;
}

#bottombar {
    background-color: #eee;
    width: 100vw;
    height: 10vh;
    margin: 0;
}
.menu {
    list-style: none;
    display: inline-block;
    align-items: center;
    padding: 0;

}
li {
    display: inline-flex;
    align-items: center;
    height: 10vh;
    width: 32vw;
    margin: auto;
    cursor: pointer;
    border-radius: 5vw;

    transition: background-color 0.3s;
}
li:hover {
    background-color: darkgray;
}
#menu1 {
    width: 8ex;
    height: 8ex;
    margin-left: auto;
}
#menu2 {
    margin-right: auto;
    margin-left: auto;
    width: 8ex;
    height: 8ex;
}
#menu3 {
    width: 8ex;
    height: 8ex;
    margin-right: auto;
}
#sled {
    position: absolute;

    height: 120vh;
    width: 100vw;

    top: 100vh; /* offset below the screen */

    border-radius: 10vw;
    background-color: lightgrey;

    transition: top 0.4s;
}
#sled0 {
    position: absolute;

    height: 100vh;
    width: 100vw;

    left: 100vw; /* offset below the screen */

    /*border-radius: 5vw;*/
    background-color: white;

    transition: left 0.4s;
}

#column-integrate {
    background-color: white;
    margin-top: 5vh;
    height: 100vh;
}
#column-box {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.column-bar {
    margin: 3vh 9vw;
    height: 23vh;
    width: 8vw;
    background-color: fuchsia;
    display: inline-block;
    border-radius: 7vw;

}

#bottombar {
    background-color: #eee;
    width: 100vw;
    height: 10vh;
    margin: 0;

}